<div ng-class="'detail'">
  <dt>Grafana Credentials</dt>
  <dl ng-class="'dl-horizontal'">
    <dt>User</dt>
    <dd>{$ $ctrl._data.user_id $}</dd>
    <dt>Team</dt>
    <dd>{$ $ctrl._data.team_id $}</dd>
    <dt>Organization</dt>
    <dd>{$ $ctrl._data.organization_id $}</dd>
    <dt>Is in team</dt>
    <dd>{$ $ctrl._data.is_user_in_team $}</dd>
    <dt>Is in organization</dt>
    <dd>{$ $ctrl._data.is_user_in_org $}</dd>
  </dl>
  <dl ng-class="'dl-horizontal'">
    <input type="button" value="get user" ng-click="$ctrl.getGrafanaUser()">
  </dl>
  <dl ng-class="'dl-horizontal'">
    <input type="button" value="Create user" ng-click="$ctrl.createGrafanaUser()">
  </dl>
  <dl ng-class="'dl-horizontal'">
    <input type="button" value="To Grafana" ng-click="$ctrl.redirectToGrafana()">
  </dl>
  <dl ng-class="'dl-horizontal'">
    <a ng-click="$ctrl.redirectToGrafana()">To Grafana...</a>
  </dl>
</div>